# Python cache/compiled files
__pycache__/
*.py[cod]
*.pyo

# Credentials and sensitive files

*.env
*.env.local
.environments

# Ignore virtual environments
venv/
env/
*.venv

# Node.js (if applicable)
node_modules/

# DB, logs, PDFs, temp files
*.log
*.tmp

*.pdf
*.txt

*tempCodeRunnerFile.py
# IDE and system files
.vscode/
.DS_Store
Thumbs.db
desktop.ini
